<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="EMGU.CV" version="4.1.1.3497" targetFramework="net472" />
  <package id="HtmlAgilityPack" version="1.11.17" targetFramework="net472" />
  <package id="Microsoft.NetFramework.Analyzers" version="2.9.8" targetFramework="net472" developmentDependency="true" />
  <package id="ZedGraph" version="5.1.7" targetFramework="net472" />
</packages>